body,
html,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
/*chrome--------------------------------------------start*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9c9ca;
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a2a2a3;
}
.el-menu::-webkit-scrollbar,
.el-table__body-wrapper::-webkit-scrollbar {
  display: none;
}
.el-menu:hover::-webkit-scrollbar,
.el-table__body-wrapper:hover::-webkit-scrollbar {
  display: block;
}
/*chrome--------------------------------------------end*/
/*IE--------------------------------------------start*/
* {
  /*三角箭头的颜色*/
  scrollbar-arrow-color: #c0c4cc;
  /*滚动条滑块按钮的颜色*/
  scrollbar-face-color: #A2A2A3;
  /*滚动条整体颜色*/
  scrollbar-highlight-color: #A2A2A3;
  /*滚动条阴影*/
  scrollbar-shadow-color: #A2A2A3;
  /*滚动条轨道颜色*/
  scrollbar-track-color: #f4f4f5;
  /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
  scrollbar-3dlight-color: #A2A2A3;
  /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
  scrollbar-darkshadow-color: #A2A2A3;
  /*滚动条基准颜色*/
  scrollbar-base-color: #f4f4f5;
}
.el-table__body-wrapper,
.el-menu {
  /*IE下隐藏*/
  -ms-overflow-style: none;
}
.el-table__body-wrapper:hover,
.el-menu:hover {
  /*IE下显示*/
  -ms-overflow-style: auto;
}
/*IE--------------------------------------------end*/
#app {
  padding: 30px;
  padding-top: 0;
  width: 60%;
  box-sizing: border-box;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
#app nav {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  border-bottom: 1px solid #eaeefb;
}
#app nav img {
  vertical-align: bottom;
}
#app .container {
  display: flex;
  width: 100%;
  flex: 1;
  height: 1px;
}
#app .container main {
  flex: 1;
  width: 1px;
  overflow: auto;
  padding-right: 10px;
}
.pre {
  font-family: revert;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #f3f0f0;
  color: #6c6868;
}
.titles {
  width: 300px;
  height: 100%;
}
.titles > .tac {
  width: 100%;
  height: 100%;
}
.titles > .tac .el-col {
  height: 100%;
}
.titles > .tac .el-menu {
  height: 100%;
  overflow-y: auto;
}
.href_A {
  text-decoration: none;
  outline: none;
  color: #000;
}
.tips {
  color: #a49c9c;
}
.showDetails {
  width: 100%;
}
.showDetails .content {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-color: #fafafa;
  border: 1px solid #eaeefb;
  padding: 10px;
}
.showDetails .content .gif {
  width: 400px;
}
.showDetails .content .gif img {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.showDetails .content .code {
  flex: 1;
  width: 1px;
}
.showDetails .content .code .meta {
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  word-break: break-word;
  margin: 10px;
  background-color: #fff;
}
.showDetails .showAll {
  width: 100%;
}
.showDetails .showAll > span {
  opacity: 0;
  transition: 0.3s;
  margin-left: 55px;
}
.showDetails .showAll:hover > span {
  opacity: 1;
  margin-left: 5px;
}
